.chat__room {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.chat__room__banner {
  width: 100%;
  background-color: #353535;
  text-align: center;
  color: #fff;
  padding: 12px;
  font-size: 1.25rem;
  font-weight: 700;
}
.message__form {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message__form > input,
.message__form > button {
  height: 100%;
  font-size: 1rem;
  margin: 0;
  border-radius: 0%;
}
.message__form > input {
  flex-grow: 1;
  outline: 0;
  border-style: none;
}
.messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}
.messages > li {
  padding: 0.5rem 1rem;
}
.notification {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}
.bubble__sender,
.bubble__receiver {
  width: 400px;
  height: auto;
  margin: 8px;
  border-radius: 12px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.bubble__sender {
  margin-left: auto;
  background-color: #087cfc;
  color: #fff;
}
.bubble__receiver {
  background-color: #f0ecec;
  color: #000;
}
.bubble__username {
  font-weight: 700;
}
.bubble__timestamp {
  float: right;
  font-size: 0.86rem;
  padding: 0;
  margin: 0;
}
@media (max-width: 575px) {
  .chat__room__banner {
    font-size: 1rem;
  }
  .bubble__sender,
  .bubble__receiver,
  .message__form > input,
  .message__form > button,
  .notification {
    font-size: 0.9rem;
  }
  .bubble__sender,
  .bubble__receiver {
    max-width: 300px;
  }
  .bubble__timestamp {
    font-size: 0.65rem;
  }
}
@media (max-width: 375px) {
  .chat__room__banner {
    font-size: 0.85rem;
  }
  .bubble__sender,
  .bubble__receiver,
  .message__form > input,
  .message__form > button,
  .notification {
    font-size: 0.75rem;
  }
  .bubble__sender,
  .bubble__receiver {
    max-width: 200px;
  }
  .bubble__timestamp {
    font-size: 0.5rem;
  }
}
